<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function update_points(){
            fetch("/process_points", {
                method: "GET"
            })
            .then(html_response => {
                return html_response.text()
            })
            .then(text => {
                pointElement = document.getElementById("score")
                pointElement.innerHTML = text
            })
            .then()
            setTimeout(update_points, 5000);
        }
        update_points()
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <!-- <script src="script.js"></script> -->
    <title>ZOTPAL!!</title>
</head>
<body>
    <h1>Zotpals</h1>
    {% if points|float >= 10 %}
    <img class="anteater" src="{{url_for('static', filename='stronk_anteater.png')}}" alt = "animal">
    {% else %}
        <img class="anteater" src="{{url_for('static', filename='anteater2.0.png')}}" alt = "animal">
    {% endif %}
    <div id="score">Level: <span id="level">1</span></div>
    
    <button id="level-up">Level Up</button>
    <a href = "/schedule">
        <button>View/Edit Classes</button>
    </a>
    <a class = "logout" href = "/logout">
        <button>Log Out</button>
    </a>
    <script src="frontend/main.js"></script>
</body>
</html>