<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link type="text/css" rel="stylesheet" href="style.css"> -->
    <!-- <script src="script.js"></script> -->
        <link rel = "stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>ZOTPAL!!</title>
</head>
<body>
    <a href = "main_page" class="top_right_button">
        <button>Back to Home</button>
    </a>
    <h1>Enter Your Courses!</h1>
    <form id="courseForm" action="{{ url_for('handle_data') }}" method="post">
        Course Name: <input type="text" name="coursename" id="courseName"><br>
        Location: <input type="text" name="location" id="location"><br>
        Time: <input type="text" name="time" id="time"><br>
        Days:<br>
        <input type="checkbox" id="monday" name="monday" value="Monday">
        <label for="monday">Monday</label><br>
        <input type="checkbox" id="tuesday" name="tuesday" value="Tuesday">
        <label for="tuesday">Tuesday</label><br>
        <input type="checkbox" id="wednesday" name="wednesday" value="Wednesday">
        <label for="wednesday">Wednesday</label><br>
        <input type="checkbox" id="thursday" name="thursday" value="Thursday">
        <label for="thursday">Thursday</label><br>
        <input type="checkbox" id="friday" name="friday" value="Friday">
        <label for="friday">Friday</label><br>
        <input type="checkbox" id="saturday" name="saturday" value="Saturday">
        <label for="saturday">Saturday</label><br>
        <input type="checkbox" id="sunday" name="sunday" value="Sunday">
        <label for="sunday">Sunday</label><br>
        <button type="submit">Add Course</button>
    </form>

    <table id="courseTable">
        <tr>
            <th>Course Name</th>
            <th>Location</th>
            <th>Time</th>
            <th>Days</th>
        </tr>
        {% for course in scheduled_courses %}
        <tr>
            <td>{{course[1]}}</td>
            <td>{{course[2]}}</td>
            <td>{{course[3]}}</td>
            <td>{{course[4]}}</td>
        </tr>
        {% endfor %}
    </table>
    
    <script src="frontend/course.js"></script>
</body>
</html>